html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #eee;
}

.map {
	text-align: center;
}

.map-title {
	text-align: center;
}

.map-spaceship {
	height: 100px;
}

#spaceship {
	margin-top: 15px;
	cursor: pointer;
}

#map-canvas {
	width: 80%;
	height: 600px;
	margin: 0 auto;
}

.map-message {
	font-size: 20px;
	color: red;
}
